{
    "semi": true,
    "singleQuote": true,
    "bracketSpacing": true,
    "trailingComma": "all",
    "printWidth": 120,
    "tabWidth": 4,
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "requireConfig": true
}